@font-face {
  font-family: 'Harry P';
  src: url('/font/HarryP.woff2') format('woff2'),
       url('/font/HarryP.woff') format('woff'),
       url('/font/HARRYP__.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
